In [10]:
from langchain.llms import GooglePalm
from dotenv import load_dotenv
import os

In [13]:
load_dotenv('.env')

google_api_key=os.getenv('GOOGLE_API_KEY')

In [15]:
palmLlm = GooglePalm(google_api_key=google_api_key,
                    temperature=0.2)

In [22]:
from langchain.utilities import SQLDatabase

db_user='root'
db_password=''
db_host='localhost'
db_name='atliq_tshirts'

sqlDb=SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}",sample_rows_in_table_info=3)

print(sqlDb.table_info)

CREATE TABLE discounts (
	discount_id INTEGER(11) NOT NULL AUTO_INCREMENT,
	t_shirt_id INTEGER(11) NOT NULL,
	pct_discount DECIMAL(5, 2),
	PRIMARY KEY (discount_id),
	CONSTRAINT discounts_ibfk_1 FOREIGN KEY(t_shirt_id) REFERENCES t_shirts (t_shirt_id)
)ENGINE=InnoDB COLLATE latin1_swedish_ci DEFAULT CHARSET=latin1

/*
3 rows from discounts table:
discount_id	t_shirt_id	pct_discount

*/


CREATE TABLE t_shirts (
	t_shirt_id INTEGER(11) NOT NULL AUTO_INCREMENT,
	brand ENUM('Van Huesen','Levi','Nike','Adidas') NOT NULL,
	color ENUM('Red','Blue','Black','White') NOT NULL,
	size ENUM('XS','S','M','L','XL') NOT NULL,
	price INTEGER(11),
	stock_quantity INTEGER(11) NOT NULL,
	PRIMARY KEY (t_shirt_id)
)ENGINE=InnoDB COLLATE latin1_swedish_ci DEFAULT CHARSET=latin1

/*
3 rows from t_shirts table:
t_shirt_id	brand	color	size	price	stock_quantity
1	Levi	Blue	XS	11	72
3	Adidas	White	XL	31	23
4	Van Huesen	Blue	M	12	11
*/